/*   Author:  Pit Orel
 *   Website: https://vk.com/html_css_verstka_saitov
 *   Github:  https://github.com/pit6262
 *   Skype:   hostings1
 *
 */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

input[type="search"] {
  -webkit-appearance: none; }

::-ms-clear {
  width: 0;
  height: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

td, form {
  margin: 0px;
  padding: 0px; }

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.container {
  width: 1200px;
  margin: 0 auto; }

body {
  background-color: #f0f2f7; }

.header-top {
  height: 52px;
  background-color: #28292e; }
.header-middle {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #e3e8f0; }
.header-bottom {
  height: 65px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px #ddd;
          box-shadow: 0 2px 20px #ddd; }
.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 18px; }
  .top-menu__link {
    color: #fff;
    font-weight: 500;
    margin-right: 20px; }
    .top-menu__link:hover {
      color: #53c6ec; }
.top-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 18px; }
  .top-location__link {
    color: #fff;
    font-weight: 500;
    margin-right: 20px; }
    .top-location__link:hover {
      color: #53c6ec; }
    .top-location__link--r {
      color: #fff;
      font-weight: 500;
      margin-right: 0; }
      .top-location__link--r:hover {
        color: #53c6ec; }

.top-location [class*="icon"] {
  font-size: 15px;
  color: #fff;
  margin-right: 1px; }

.middle-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px; }
  .middle-item__count {
    display: inline-block;
    vertical-align: center;
    text-align: center;
    min-width: 24px;
    height: 24px;
    color: #343e5c;
    font-size: 11px;
    line-height: 15px;
    padding: 4px 10px;
    margin-left: 5px;
    background-color: #e3e8f0;
    border-radius: 50%; }
.middle-phone {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase; }
  .middle-phone:hover {
    color: #753aff;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }
.middle-sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.middle-search {
  position: relative; }
  .middle-search__input {
    width: 400px;
    border: 2px solid #e3e8f0;
    border-radius: 18px;
    padding: 5px;
    padding-left: 40px;
    color: #a1a8bd;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
    .middle-search__input:-ms-input-placeholder {
      color: #868686; }
    .middle-search__input::-webkit-input-placeholder {
      color: #868686; }
    .middle-search__input::-ms-input-placeholder {
      color: #868686; }
    .middle-search__input::placeholder {
      color: #868686; }
    .middle-search__input:focus {
      border: 2px solid #53c6ec; }
  .middle-search__button {
    position: absolute;
    top: 8px;
    left: 5px;
    font-family: "icomoon" !important;
    background-color: transparent;
    border: none;
    font-size: 20px; }
    .middle-search__button:hover {
      color: #53c6ec; }
    .middle-search__button:active {
      color: #753aff;
      font-size: 21px; }
.middle-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .middle-item__link {
    margin-right: 20px;
    color: #343e5c;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase; }
    .middle-item__link:hover {
      color: #753aff;
      text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }
    .middle-item__link--r {
      color: #343e5c;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase; }
      .middle-item__link--r:hover {
        color: #753aff;
        text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }

.middle-item [class*="icon"] {
  font-size: 15px;
  margin-right: 5px; }

.icon-phone {
  padding: 5px;
  color: #753aff;
  background-color: #53c6ec;
  font-size: 20px !important;
  border: 1px solid #753aff;
  border-radius: 50%;
  margin-right: 5px; }

.bottom-menu {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .bottom-menu__item {
    list-style: none; }
  .bottom-menu__link {
    color: #343e5c;
    font-size: 15px;
    font-weight: 500; }
    .bottom-menu__link:hover {
      color: #753aff;
      text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }

/* ======================================== */
.main-menu {
  height: 65px;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-menu__item {
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-menu__item:hover .main-menu__link {
      color: #53c6ec;
      text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }
  .main-menu__link {
    text-align: center;
    line-height: 10px;
    color: #343e5c;
    font-size: 15px;
    font-weight: 500;
    display: block; }

.dropdown:hover .dropdown-content {
  opacity: 1;
  left: -40px;
  visibility: visible; }

.dropdown {
  position: relative; }
  .dropdown-content {
    position: absolute;
    background-color: #f0f2f7;
    font-size: 15px;
    font-weight: 500;
    top: 100%;
    z-index: 99;
    left: -10000px;
    visibility: hidden;
    opacity: 0;
    border-radius: 0px 0px 10px 10px;
    -webkit-transition: opacity 0.3s, margin-top 0.4s;
    transition: opacity 0.3s, margin-top 0.4s; }
  .dropdown-menu {
    list-style: none;
    width: 196px;
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4); }
    .dropdown-menu__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 61px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .dropdown-menu__item:hover {
        background-color: #53c6ec; }
    .dropdown-menu__link {
      width: 130px;
      color: #343e5c;
      font-size: 15px;
      font-weight: 500; }

.dropdown-menu__item:last-child {
  border-radius: 0px 0px 10px 10px; }

.dropdown-menu__item:hover .dropdown-menu__link {
  color: #fff; }

/*==================HEADER====================== */
/*==================CONTENT===================== */
.title {
  color: #343e5c;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 30px; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  color: #b8bfd3;
  font-size: 13px;
  font-weight: 400; }

/*_______________Catalog_______________ */
.catalog-menu {
  height: 56px;
  background-color: #fff;
  border-radius: 5px;
  margin: 45px 0 25px; }
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.catalog-sidebar {
  width: 275px;
  height: 1320px;
  border-radius: 5px;
  background-color: #fff; }
.catalog-products {
  width: 890px; }
  .catalog-products__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px; }
    .catalog-products__row:last-child {
      margin: 0; }

.product {
  width: 275px;
  height: 420px;
  background-color: #fff;
  border-radius: 5px;
  position: relative; }
  .product-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 210px; }
  .product-title {
    width: 220px;
    color: #1c1e23;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 0 auto; }
  .product-item {
    display: block;
    width: 220px;
    height: 70px; }
    .product-item__favorites {
      color: #e3e8f0;
      font-size: 25px;
      position: absolute;
      left: 25px;
      top: 25px; }
      .product-item__favorites:focus {
        color: #ffcc30; }
    .product-item__price {
      color: #753aff;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      margin: 10px 0;
      position: absolute;
      left: 25px;
      bottom: 60px; }
    .product-item__button {
      color: #fff;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      background-color: #753aff;
      padding: 11px 24px;
      border: 1px solid #753aff;
      border-radius: 20px;
      position: absolute;
      right: 25px;
      bottom: 60px; }
      .product-item__button:hover {
        color: #fff;
        background-color: #53c6ec;
        border: 1px solid #753aff;
        text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }
    .product-item__instal {
      width: 80px;
      color: #b8bfd3;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      position: absolute;
      left: 25px;
      bottom: 15px; }
    .product-item__compare {
      color: #753aff;
      font-size: 13px;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase;
      padding: 15px 20px;
      position: absolute;
      right: 35px;
      bottom: 15px; }

.paginator {
  height: 90px;
  background-color: #fff;
  border-radius: 5px;
  margin: 50px 0; }

/*___________Catalog/Watched___________ */
.watched {
  height: 480px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 60px; }
  .watched-title {
    height: 56px;
    border: #343e5c;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    border-bottom: 2px solid #f0f2f7;
    text-transform: uppercase; }

.product-watched {
  width: 300px;
  height: 430px;
  background-color: none;
  border-radius: 5px;
  position: relative;
  outline: 1px solid #f0f2f7; }

/*___________Watched/Service___________ */
.service {
  margin-bottom: 80px; }
  .service-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .service-item {
    display: block;
    width: 270px;
    height: 420px;
    background-color: #fff;
    margin-bottom: 35px;
    border-radius: 5px; }
    .service-item__title {
      width: 160px;
      text-align: center;
      color: #1c1e23;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      margin: 18px auto; }
    .service-item__order {
      display: block;
      width: 165px;
      color: #fff;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      background-color: #753aff;
      border: 1px solid #753aff;
      border-radius: 16px;
      padding: 8px 0;
      margin: 5px auto; }
      .service-item__order:hover {
        color: #fff;
        background-color: #53c6ec;
        border: 1px solid #753aff;
        text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }
    .service-item__more {
      display: block;
      width: 165px;
      color: #753aff;
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      border: 1px solid #753aff;
      border-radius: 16px;
      padding: 8px 0;
      margin: 5px auto; }
      .service-item__more:hover {
        color: #fff;
        background-color: #53c6ec;
        border: 1px solid #753aff;
        text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }

.huevina {
  content: "";
  display: block;
  height: 316px;
  background-color: white; }

/*_______________Service/stock_______________ */
.stock-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  padding-bottom: 50px; }
.stock-item {
  width: 580px;
  height: 200px;
  background-color: #dae1eb;
  margin-bottom: 15px;
  position: relative; }
.stock-title {
  color: #343e5c;
  font-size: 18px;
  font-weight: 500;
  top: 220px;
  position: absolute; }
  .stock-title:hover {
    color: #753aff;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.7); }

/*==================CONTENT====================== */
/*==================CONTENT_SLIDER=============== */
.fs-slide__title {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  width: 320px;
  margin: 100px 65px 15px; }
.fs-slide__text {
  width: 500px;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 65px 45px; }
.fs-slide__link {
  color: #753aff;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 21px;
  -webkit-box-shadow: -0.7px -20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: -0.7px -20px 40px rgba(0, 0, 0, 0.2);
  margin: 65px; }
  .fs-slide__link:hover {
    color: #fff;
    background-color: #753aff;
    border: 1px solid #fff; }

.slick-slide {
  max-width: 300px;
  height: 430px; }

/*==================CONTENT_SLIDER=============== */
/*==================FOOTER======================= */
.footer {
  height: 300px;
  background-color: #28292e; }
  .footer-item__row {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
    border-bottom: 1px solid #444; }
  .footer-menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-menu__link {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      margin: 0 20px;
      text-transform: uppercase; }
      .footer-menu__link:hover {
        color: #53c6ec; }
  .footer-contact {
    width: 180px;
    text-align: end; }
    .footer-contact__phone {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; }
      .footer-contact__phone:hover {
        color: #53c6ec; }
    .footer-contact__mail {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; }
      .footer-contact__mail:hover {
        color: #53c6ec; }

.simple-text {
  width: 511px;
  height: 37px;
  color: #555;
  font-family: CrimsonText;
  font-size: 14px;
  font-style: italic;
  line-height: 22px; }

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .privacy-item {
    color: #555;
    font-size: 11px;
    font-weight: 400;
    margin-left: 20px;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */